/* RESEÑAS */

/* Banner */
/* .banner_resenas{
    background-image: url(../media/banner_resenas.jpg);
    height: 350px;
    background-size: cover;
    background-position: bottom;
    text-align: left;
    color: white;
    text-shadow: -1px -1px 20px rgba(0,0,0,1);
} */

/* Main reseñas */

/* .resenas{
    padding: 0 50px 50px 50px;
}

.resenas_card{
    padding: 10px;
} */
/* 
.resenas_card h3{
    padding: 20px 0;
} */

/* .resenas_card a{
    text-decoration: none;
    color: #0a5b8b;
    font-size: 2rem;
    font-weight: 700;
} */

/* .resenas_card p{
    padding-bottom: 20px;
    font-size: 1.5rem;
} */
/* 
.img_carousel img{
    height: 350px;
    object-fit: cover;
    object-position: center;
} */

/* VIDEOS */

/* Banner */
.banner_videos{
    background-image: url(../media/banner_videos.jpg);
    height: 350px;
    background-size: cover;
    background-position: center;
    text-align: left;
    color: white;
    text-shadow: -1px -1px 20px rgba(0,0,0,1);
}

/* main videos */

.video_section{
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.video_page{
    width: 300px;
    height: 560px;
}

.boton_videos {
    background-color: #2b3951;
    color: #ffffff;
    font-size: 1.5rem;
}

.boton_videos:hover{
    background-color: #0a5b8b;
    color: white;
}

.card_videos p{
    font-size: 1.5rem;
}

.card_videos h3{
    font-size: 2rem;
    font-weight: 700;
    color: #0a5b8b;
}

/* CONTACTO */
/* Banner */
.banner_contacto{
    background-image: url(../media/banner_contacto.jpg);
    height: 350px;
    background-size: cover;
    background-position: bottom;
    text-align: left;
    color: white;
    text-shadow: -1px -1px 20px rgba(0,0,0,1);
}

/* main contacto */

.contacto{
    background-color: #d8cec6;
    padding: 50px;
}

/* .card_contacto{
   padding: 20px;
} */

.datos_completar{
    font-size: 1.5rem;
}

.encabezado_form h3{
    font-size: 2rem;
    font-weight: 700;
    color: #0a5b8b;
    padding: 20px;
}

.encabezado_form p{
    font-size: 1.5rem;
}
