@charset "UTF-8";
/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  padding-top: 50px;
  padding-left: 50px;
  font-weight: 600;
}

h2 {
  color: #2b3951;
  font-size: 4rem;
  padding: 50px 0px;
  text-align: center;
}

h3 {
  font-size: 2rem;
  padding: 10px;
  font-weight: 700;
}

p {
  font-size: 1.5rem;
}

a {
  color: #ffffff;
  font-size: 1.5rem;
}

.fila {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card_box {
  width: 320px;
}
.card_box .card_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.card_box .card_content h3 {
  color: #0a5b8b;
  text-align: center;
}
.card_box .card_content p {
  text-align: center;
  padding-bottom: 20px;
}
.card_box .card_content .boton {
  background-color: #2b3951;
  font-size: 1.5rem;
  color: #ffffff;
}
.card_box .card_content .boton:hover {
  background-color: #A48A7F;
  font-weight: 600;
}

/* Header */
header {
  background-color: #2b3951;
  position: sticky;
  top: 0px;
  z-index: 3;
}
header .nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .nav_bar img {
  width: 80px;
  margin: 10px;
}
header .nav_bar ul .nav_item {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}
header .nav_bar ul .nav_item .nav_link {
  color: #ffffff;
  font-size: 1.5rem;
}
header .nav_bar ul .nav_item .nav_link.active, header .nav_bar ul .nav_item .nav_link:hover {
  font-weight: 700;
}

/* Footer */
footer {
  background-color: #2b3951;
  padding: 20px 0px;
}
footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer .social img {
  width: 21px;
  height: 21px;
  margin: 0 10px;
}
footer .footer .nav_footer {
  padding: 20px;
}
footer .footer .nav_footer ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer .nav_footer ul li {
  list-style: none;
  margin: 0 20px;
}
footer .footer .nav_footer ul li a {
  text-decoration: none;
}
footer .footer .nav_footer ul li:hover {
  font-weight: 700;
}

/* INDEX */
/* Banner */
.banner {
  background-image: url(../media/banner.jpg);
  height: 650px;
  background-size: cover;
  background-position: bottom;
  text-align: left;
  color: #ffffff;
  text-shadow: -1px -1px 20px rgb(0, 0, 0);
}
.banner span {
  font-weight: 200;
}
.banner p {
  font-size: 2rem;
  padding-left: 50px;
}

/* Presentacion */
.about {
  background-color: #d8cec6;
  justify-content: center;
  padding: 50px;
}
.about h2 {
  padding: 20px 0;
  text-align: start;
  font-size: 3rem;
}
.about img {
  width: 200px;
}

/* Categorias */
.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.categories .circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 50px;
}
.categories .circle a {
  text-decoration: none;
}
.categories .circle a img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}
.categories .circle a img:hover {
  transform: scale(1.1);
}
.categories .circle a h3 {
  font-size: 2.2rem;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  bottom: 170px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Destacadas */
.featured {
  background-color: #A48A7F;
  padding: 0 50px 50px 50px;
}
.featured h2 {
  color: #ffffff;
}
.featured .featured_recipes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}
.featured .featured_recipes .card_box {
  width: 320px;
}
.featured .featured_recipes .card_box img {
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.featured .featured_recipes .card_box .card_content img {
  height: 20px;
}

/* RECETAS */
/* Banner */
.banner_recetas {
  background-image: url(../media/banner_recetas.jpg);
  height: 350px;
  background-size: cover;
  background-position: bottom;
  text-align: left;
  color: #ffffff;
  text-shadow: -1px -1px 20px rgb(0, 0, 0);
}

/* Recetas */
.recipes_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 50px 50px 50px;
  gap: 2em;
}
.recipes_page .card_box {
  width: 320px;
}
.recipes_page .card_box img {
  height: 400px;
  object-fit: cover;
  object-position: center;
}

/* RECETAS COMPLETA*/
/* Banner */
.banner_recetas {
  background-image: url(../media/banner_recetas.jpg);
  height: 350px;
  background-size: cover;
  background-position: bottom;
  text-align: left;
  color: #ffffff;
  text-shadow: -1px -1px 20px rgb(0, 0, 0);
}

/* Recetas */
.recipes_complete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 50px 50px 50px;
  gap: 2em;
}
.recipes_complete .card_box {
  width: auto;
}
.recipes_complete .card_box img {
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.recipes_complete .resume {
  background-color: #A48A7F;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  padding: 50px 20px;
}
.recipes_complete .resume .resume_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.recipes_complete .resume .resume_items img {
  width: 20px;
  height: 20px;
}
.recipes_complete .resume .resume_items p {
  color: #ffffff;
  padding: 0;
  margin: 0 10px;
  font-size: 1.5rem;
}
.recipes_complete .descripcion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}
.recipes_complete .descripcion .ingredientes {
  padding: 40px;
}
.recipes_complete .descripcion .ingredientes h3 {
  color: #0a5b8b;
  text-align: center;
  text-transform: uppercase;
}
.recipes_complete .descripcion .ingredientes li {
  font-size: 1.5rem;
}
.recipes_complete .descripcion .instrucciones {
  padding: 40px;
}
.recipes_complete .descripcion .instrucciones h3 {
  color: #0a5b8b;
  text-align: center;
  text-transform: uppercase;
}
.recipes_complete .descripcion .instrucciones p {
  padding-top: 20px;
  font-size: 2rem;
}
.recipes_complete .descripcion .instrucciones li {
  font-size: 1.5rem;
  list-style-type: decimal;
}

/* RESEÑAS */
/* Banner */
.banner_resenas {
  background-image: url(../media/banner_resenas.jpg);
  height: 350px;
  background-size: cover;
  background-position: bottom;
  text-align: left;
  color: #ffffff;
  text-shadow: -1px -1px 20px rgb(0, 0, 0);
}

/* Reseñas */
.resenas {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resenas .resenas_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.resenas .resenas_card .card_content h3 {
  padding-bottom: 20px;
  color: #0a5b8b;
}
.resenas .resenas_card .card_content .mapa {
  width: 100%;
  height: 180px;
}
.resenas .resenas_card .carrusel img {
  height: 350px;
  object-fit: cover;
  object-position: center;
}

/* VIDEOS */
/* Banner */
.banner_videos {
  background-image: url(../media/banner_videos.jpg);
  height: 350px;
  background-size: cover;
  background-position: center;
  text-align: left;
  color: #ffffff;
  text-shadow: -1px -1px 20px rgb(0, 0, 0);
}

/* Videos */
.video_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  gap: 30px;
}
.video_page .card_box video {
  width: 300px;
  height: 560px;
}

/* CONTACTO */
/* Banner */
.banner_contacto {
  background-image: url(../media/banner_contacto.jpg);
  height: 350px;
  background-size: cover;
  background-position: bottom;
  text-align: left;
  color: #ffffff;
  text-shadow: -1px -1px 20px rgb(0, 0, 0);
}

/* Contacto */
.contacto {
  background-color: #d8cec6;
  padding: 50px;
}
.contacto .card_box {
  width: 600px;
}
.contacto .card_box .card_content {
  padding: 10px;
  margin-top: 20px;
}
.contacto .card_box .card_content .card_form {
  width: 90%;
  margin-top: 20px;
}
.contacto .card_box .card_content .card_form .datos_completar {
  font-size: 1.5rem;
}
.contacto .card_box .card_content .boton {
  margin-top: 20px;
  width: 100px;
}

/* MEDIA QUERIES */
/* Mobile */
@media (max-width: 480px) {
  /*Header*/
  .hamburguesa {
    border: rgba(255, 255, 255, 0.5) solid 2px;
  }
  /*Index*/
  h1 {
    font-size: 5rem;
    padding-top: 25px;
    padding-left: 25px;
  }
  h2 {
    font-size: 3rem;
    text-align: center;
    padding: 30px 20px;
  }
  .banner p {
    padding-left: 25px;
  }
  .about {
    padding: 30px;
  }
  .about h2 {
    padding: 20px 0;
    font-size: 2.5rem;
    text-align: center;
  }
  .about p {
    text-align: center;
  }
  .about img {
    width: 150px;
    padding: 20px 0;
  }
  .categories .circle {
    width: 260px;
    height: 260px;
  }
  .categories .circle a h3 {
    font-size: 1.8rem;
    bottom: 150px;
  }
  .featured {
    padding: 0 20px 30px 20px;
  }
  /*Recetas*/
  .banner_recetas {
    height: 250px;
  }
  .recipes_page {
    padding: 0 20px 30px 20px;
  }
  /*Receta completa*/
  .recipes_complete {
    padding: 0 20px 30px 20px;
  }
  .recipes_complete .card_box img {
    height: 250px;
  }
  .recipes_complete .resume {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
  }
  .recipes_complete .resume .resume_items {
    padding: 5px;
  }
  .recipes_complete .descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .recipes_complete .descripcion .ingredientes {
    padding-bottom: 0px;
  }
  /*Reseñas*/
  .banner_resenas {
    height: 250px;
  }
  .resenas {
    padding: 0 20px;
  }
  /*Videos*/
  .banner_videos {
    height: 250px;
  }
  .video_page .card_box video {
    width: 280px;
    height: 523px;
  }
  /*Contacto*/
  .banner_contacto {
    height: 250px;
  }
  .contacto {
    padding: 50px 20px 50px 20px;
  }
  .contacto .card_box {
    width: auto;
  }
}
/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
  .hamburguesa {
    border: rgba(255, 255, 255, 0.5) solid 2px;
  }
  h2 {
    font-size: 4rem;
    text-align: center;
    padding: 30px 20px;
  }
  .about {
    padding: 30px;
  }
  .about h2 {
    padding: 20px 0;
    text-align: center;
  }
  .about p {
    text-align: center;
  }
  .about img {
    padding: 20px 0;
  }
  .categories .circle {
    width: 280px;
    height: 280px;
  }
  .categories .circle a h3 {
    font-size: 2rem;
    bottom: 160px;
  }
  .featured {
    padding: 0 30px 30px 30px;
  }
  /*Recetas*/
  .recipes_page {
    padding: 0 30px 30px 30px;
  }
  /*Receta completa*/
  .recipes_complete {
    padding: 0 30px 30px 30px;
  }
  .recipes_complete .card_box img {
    height: 400px;
  }
  .recipes_complete .resume {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
  }
  .recipes_complete .resume .resume_items {
    padding: 5px;
  }
  .recipes_complete .descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recipes_complete .descripcion .ingredientes {
    padding-bottom: 0px;
  }
  /*Reseñas*/
  .resenas {
    padding: 0 20px;
  }
  /*Contacto*/
  .contacto .card_box {
    width: auto;
  }
}

/*# sourceMappingURL=estilos.css.map */
