@charset "UTF-8";
/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  padding-top: 50px;
  padding-left: 50px;
  font-weight: 600;
}

h2 {
  color: #2b3951;
  font-size: 4rem;
  padding: 50px 0px;
  text-align: center;
}

h3 {
  font-size: 2rem;
  padding: 10px;
  font-weight: 700;
}

p {
  font-size: 1.5rem;
}

a {
  color: #ffffff;
  font-size: 1.5rem;
}

.fila {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card_box {
  width: 320px;
}
.card_box .card_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.card_box .card_content h3 {
  color: #0a5b8b;
  text-align: center;
}
.card_box .card_content p {
  text-align: center;
  padding-bottom: 20px;
}
.card_box .card_content .boton {
  background-color: #2b3951;
  font-size: 1.5rem;
  color: #ffffff;
}
.card_box .card_content .boton:hover {
  background-color: #0a5b8b;
}

/* Header */
header {
  background-color: #2b3951;
  position: sticky;
  top: 0px;
  z-index: 3;
}
header .nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .nav_bar img {
  width: 80px;
  margin: 10px;
}
header .nav_bar ul .nav_item {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}
header .nav_bar ul .nav_item .nav_link {
  color: #ffffff;
  font-size: 1.5rem;
}
header .nav_bar ul .nav_item .nav_link.active, header .nav_bar ul .nav_item .nav_link:hover {
  font-weight: 700;
}

/* Footer */
footer {
  background-color: #2b3951;
  padding: 20px 0px;
}
footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer .social img {
  width: 21px;
  height: 21px;
  margin: 0 10px;
}
footer .footer .nav_footer {
  padding: 20px;
}
footer .footer .nav_footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer .nav_footer ul li {
  list-style: none;
  margin: 0 20px;
}
footer .footer .nav_footer ul li a {
  text-decoration: none;
}

/* INDEX */
/* Banner */
.banner {
  background-image: url(../media/banner.jpg);
  height: 650px;
  background-size: cover;
  background-position: bottom;
  text-align: left;
  color: #ffffff;
  text-shadow: -1px -1px 20px rgb(0, 0, 0);
}
.banner span {
  font-weight: 200;
}
.banner p {
  font-size: 2rem;
  padding-left: 50px;
}

/* Presentacion */
.about {
  background-color: #d8cec6;
  justify-content: center;
  padding: 50px;
}
.about h2 {
  padding: 20px 0;
  text-align: start;
  font-size: 3rem;
}
.about img {
  width: 200px;
}

/* Categorias */
.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.categories img {
  width: 350px;
  border-radius: 50%;
}
.categories a {
  font-size: 2.2rem;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  bottom: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Destacadas */
.featured {
  background-color: #A48A7F;
  padding: 0 50px 50px 50px;
}
.featured h2 {
  color: #ffffff;
}
.featured .featured_recipes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}
.featured .featured_recipes .card_box {
  width: 320px;
}
.featured .featured_recipes .card_box img {
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.featured .featured_recipes .card_box .card_content img {
  height: 20px;
}

/* RECETAS */
/* Banner */
.banner_recetas {
  background-image: url(../media/banner_recetas.jpg);
  height: 350px;
  background-size: cover;
  background-position: bottom;
  text-align: left;
  color: #ffffff;
  text-shadow: -1px -1px 20px rgb(0, 0, 0);
}

/* Recetas */
.recipes_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 50px 50px 50px;
  gap: 2em;
}
.recipes_page .card_box {
  width: 320px;
}
.recipes_page .card_box img {
  height: 400px;
  object-fit: cover;
  object-position: center;
}

/* RECETAS COMPLETA*/
/* Banner */
.banner_recetas {
  background-image: url(../media/banner_recetas.jpg);
  height: 350px;
  background-size: cover;
  background-position: bottom;
  text-align: left;
  color: #ffffff;
  text-shadow: -1px -1px 20px rgb(0, 0, 0);
}

/* Recetas */
.recipes_complete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 50px 50px 50px;
  gap: 2em;
}
.recipes_complete .card_box {
  width: auto;
}
.recipes_complete .card_box img {
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.recipes_complete .resume {
  background-color: #A48A7F;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  padding: 50px 20px;
}
.recipes_complete .resume .resume_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.recipes_complete .resume .resume_items img {
  width: 20px;
  height: 20px;
}
.recipes_complete .resume .resume_items p {
  color: #ffffff;
  padding: 0;
  margin: 0 10px;
  font-size: 1.5rem;
}
.recipes_complete .descripcion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}
.recipes_complete .descripcion .ingredientes {
  padding: 40px;
}
.recipes_complete .descripcion .ingredientes h3 {
  color: #0a5b8b;
  text-align: center;
  text-transform: uppercase;
}
.recipes_complete .descripcion .ingredientes li {
  font-size: 1.5rem;
}
.recipes_complete .descripcion .instrucciones {
  padding: 40px;
}
.recipes_complete .descripcion .instrucciones h3 {
  color: #0a5b8b;
  text-align: center;
  text-transform: uppercase;
}
.recipes_complete .descripcion .instrucciones p {
  padding-top: 20px;
  font-size: 2rem;
}
.recipes_complete .descripcion .instrucciones li {
  font-size: 1.5rem;
  list-style-type: decimal;
}

/* RESEÑAS */
/* Banner */
.banner_resenas {
  background-image: url(../media/banner_resenas.jpg);
  height: 350px;
  background-size: cover;
  background-position: bottom;
  text-align: left;
  color: #ffffff;
  text-shadow: -1px -1px 20px rgb(0, 0, 0);
}

/* Reseñas */
.resenas {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resenas .resenas_card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.resenas .resenas_card .card_content h3 {
  padding-bottom: 20px;
  color: #0a5b8b;
}
.resenas .resenas_card .card_content .mapa {
  width: 100%;
  height: 180px;
}
.resenas .resenas_card .carrusel img {
  height: 350px;
  object-fit: cover;
  object-position: center;
}

/* VIDEOS */
/* Banner */
.banner_videos {
  background-image: url(../media/banner_videos.jpg);
  height: 350px;
  background-size: cover;
  background-position: center;
  text-align: left;
  color: #ffffff;
  text-shadow: -1px -1px 20px rgb(0, 0, 0);
}

/* Videos */
.video_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 30px;
}
.video_page .card_box video {
  width: 300px;
  height: 560px;
}

/* CONTACTO */
/* Banner */
.banner_contacto {
  background-image: url(../media/banner_contacto.jpg);
  height: 350px;
  background-size: cover;
  background-position: bottom;
  text-align: left;
  color: #ffffff;
  text-shadow: -1px -1px 20px rgb(0, 0, 0);
}

/* Contacto */
.contacto {
  background-color: #d8cec6;
  padding: 50px;
}
.contacto .card_box {
  width: 600px;
}
.contacto .card_box .card_content {
  padding: 10px;
  margin-top: 20px;
}
.contacto .card_box .card_content .card_form {
  width: 90%;
  margin-top: 20px;
}
.contacto .card_box .card_content .card_form .datos_completar {
  font-size: 1.5rem;
}
.contacto .card_box .card_content .boton {
  margin-top: 20px;
  width: 100px;
}

/*# sourceMappingURL=estilos.css.map */
