/* font-size: 62,5%; (Para que 1rem=10px) */
/* Paleta de colores #2b3951 (azul) #0a5b8b (azul claro) #A48A7F (arena) #d8cec6 (arena claro) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

.row{
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

/* header */

header{
    background-color: #2b3951;
    position: sticky;
    top: 0px;
    z-index: 3;
}

header img{
    width: 80px;
    margin: 10px;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

.nav-link{
    color: white;
    font-size: 1.5rem;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: white;
    font-weight: 700;
}


/* Banner index */

.banner{
    background-image: url(../media/banner.jpg);
    height: 650px;
    background-size: cover;
    background-position: bottom;
    text-align: left;
    color: white;
    text-shadow: -1px -1px 20px rgba(0,0,0,1);
}

h1{
    font-size: 6rem;
    text-transform: uppercase;
    padding-top: 50px;
    padding-left: 50px;
    font-weight: 600;
}

.banner span{
    font-weight: 200;
}

.banner p{
    font-size: 2rem;
    padding-left: 50px;
}

h2{
    color: #2b3951;
    font-size: 4rem;
    padding: 50px 0px;
    text-align: center;
}

/*  About index */

.about{
    background-color: #d8cec6;
    justify-content: center;
    padding: 50px;
    
}

.about h2{
    padding: 20px 0;
    text-align: start;
    font-size: 3rem;
}

.about p{
    font-size: 1.5rem;
}

.about img{
    width: 200px;   
}

/* Categorias index */

.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.categories img{
    width: 350px;
    border-radius: 50%;
}

.categories a{
    color:#ffffff;
    font-size: 2.2rem;
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    bottom: 180px;
    display: flex;
    justify-content: center;
}

/* Destacadas index */

.featured{
    background-color: #af9a7d;
    padding: 0 50px 50px 50px;
    color: #ffffff;
}

.featured h2{
    color: #ffffff;
    padding: 50px 0px;
}

.recipes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 2em;
}

.recipes img{
    height: 300px;
}

.recipes h3{
    font-size: 2rem;
    padding: 10px;
    font-weight: 700;
}

.recipes p{
    font-size: 1.2rem;
    inline-size: 300px;
    overflow-wrap: break-word;
    padding-bottom: 20px;
}

.recipes a{
    color: #ffffff;
}

.card{
    width: 320px;
}

.card_inicio img{
    height: 20px;
}

.boton_inicio {
    background-color: #2b3951;
}

.boton_inicio:hover{
    background-color: #0a5b8b;
}

.card_inicio p{
    font-size: 1.2rem;
}

/* footer */

footer{
    background-color: #2b3951;
    padding: 20px 0px;
}

.footer{
    color: #ffffff;
    margin: 0px 100px;
}

.rr_ss{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.rr_ss a{
    width: 21px;
    height: 21px;
    margin: 0 20px;
}

.nav_link{
    padding: 20px;
}

.nav_link ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_link li{
    list-style: none;
    margin: 0 20px;
}

.nav_link a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;    
}

.suscribe{
    padding: 20px;
}

/* RECETAS */

/* Banner */
.banner_recetas{
    background-image: url(../media/banner_recetas.jpg);
    height: 350px;
    background-size: cover;
    background-position: bottom;
    text-align: left;
    color: white;
    text-shadow: -1px -1px 20px rgba(0,0,0,1);
}

/* Main Recetas */

.recipes_page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 0 50px 50px 50px;
    gap: 2em;
}

.recipes_page img{
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.recipes_page h3{
    font-size: 2rem;
    padding: 10px;
    font-weight: 700;
}

.recipes_page p{
    font-size: 1.2rem;
    inline-size: 300px;
    overflow-wrap: break-word;
    padding-bottom: 20px;
}

.recipes_page a{
    color: #ffffff;
}

.boton_recetas {
    background-color: #2b3951;
}

.boton_recetas:hover{
    background-color: #0a5b8b;
    color: white;
}

.card_recetas p{
    font-size: 1.2rem;
}

/* RESEÑAS */

/* Banner */
.banner_resenas{
    background-image: url(../media/banner_resenas.jpg);
    height: 350px;
    background-size: cover;
    background-position: bottom;
    text-align: left;
    color: white;
    text-shadow: -1px -1px 20px rgba(0,0,0,1);
}

/* Main reseñas */

.resenas{
    padding: 0 50px 50px 50px;
}

.resenas_card{
    padding: 10px;
}

.resenas_card h3{
    padding: 20px 0;
}

.resenas_card a{
    text-decoration: none;
    color: #0a5b8b;
    font-size: 2rem;
    font-weight: 700;
}

.resenas_card p{
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.img_carousel img{
    height: 350px;
    object-fit: cover;
    object-position: center;
}

/* VIDEOS */

/* Banner */
.banner_videos{
    background-image: url(../media/banner_videos.jpg);
    height: 350px;
    background-size: cover;
    background-position: center;
    text-align: left;
    color: white;
    text-shadow: -1px -1px 20px rgba(0,0,0,1);
}

/* main videos */

.video_section{
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.video_page{
    width: 300px;
    height: 560px;
}

.boton_videos {
    background-color: #2b3951;
    color: #ffffff;
    font-size: 1.5rem;
}

.boton_videos:hover{
    background-color: #0a5b8b;
    color: white;
}

.card_videos p{
    font-size: 1.5rem;
}

.card_videos h3{
    font-size: 2rem;
    font-weight: 700;
}