// Variables
$font: 'Montserrat', sans-serif;
$azul: #2b3951;
$azul-c: #0a5b8b;
$arena: #A48A7F;
$arena-c: #d8cec6;
$blanco: #ffffff;

// Mixin
@mixin flex ($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
